<div class="container mt-4">
  <!-- Cacher l'input si une réservation a eu lieu -->
  @if (reservationId === null) {
    <app-reservation-form
      (tablesChanged)="loadTables()"
      (reservationIdChanged)="onReservationIdChanged($event)"
    ></app-reservation-form>
  }
  <!-- Afficher la répartition des tables si une réservation a eu lieu -->
  @if (reservationId !== null) {
    <button class="btn btn-success w-100" (click)="loadTables()">
      Rafraichir
    </button>
    <app-table-list [tables]="tables" [reservationId]="reservationId"></app-table-list>
    <button class="btn btn-danger w-100" (click)="onReservationIdLiberation()">
      Quitter la page
    </button>
  }
</div>